/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/methylseq Slurm config for non-container mamba + strace execution
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    executor = 'slurm'
    queue    = 'compute'
    cache    = 'lenient'
    beforeScript = "source ${projectDir}/bin/strace_before.sh"
}

executor {
    queueSize       = 8
    submitRateLimit = '10 sec'
}

apptainer {
    enabled = false
}

singularity {
    enabled = false
}

docker {
    enabled = false
}

trace {
    enabled = true
    fields  = 'task_id,hash,native_id,process,tag,name,status,exit,container,cpus,time,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,workdir'
}
