/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Reviewer-facing Slurm + container config for recorded CAMP workflow reruns
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    camp_output_dir     = '.'
    camp_apptainer_cache = "${launchDir}/.apptainer_cache"
}

process {
    executor = 'slurm'
    queue    = 'compute'
    cache    = 'lenient'
    errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
    maxRetries = 2
    afterScript = { "bash ${params.camp_output_dir}/scripts/after_task.sh '${task.process}' '${task.hash}' '${params.camp_output_dir}/per_task_after_rerun.csv'" }
}

apptainer {
    autoMounts = true
    cacheDir   = params.camp_apptainer_cache
}

singularity {
    autoMounts = true
    cacheDir   = params.camp_apptainer_cache
}

executor {
    queueSize = 8
    submitRateLimit = '10 sec'
}

trace {
    enabled   = true
    file      = "${params.camp_output_dir}/nf-trace-rerun.txt"
    overwrite = true
    fields    = 'task_id,hash,native_id,process,tag,name,status,exit,container,cpus,time,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,workdir'
}
