params {
  outdir           = '/shared/bowtie2_audit_nf/results'
  metrics_dir      = '/shared/bowtie2_audit_nf/metrics'
  work_dir         = '/shared/bowtie2_audit_nf/work'
  queue_size       = 256

  run_manifest     = '/shared/bowtie2_audit_nf/data/public_runs_prjeb11501_20.tsv'
  reference_url    = 'https://ftp.ensembl.org/pub/current_fasta/saccharomyces_cerevisiae/dna/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa.gz'
  chunks_per_run   = 84

  trace_file       = "${params.outdir}/pipeline_info/execution_trace.txt"
  merged_csv       = "${params.outdir}/pipeline_info/merged_audit_trace.csv"
  merged_tsv       = "${params.outdir}/pipeline_info/merged_audit_trace.tsv"

  ref_cpus         = 1
  ref_memory       = '1 GB'
  ref_time         = '1h'

  index_cpus       = 4
  index_memory     = '4 GB'
  index_time       = '2h'

  download_cpus    = 1
  download_memory  = '2 GB'
  download_time    = '2h'

  split_cpus       = 1
  split_memory     = '3 GB'
  split_time       = '3h'

  align_cpus       = 2
  align_memory     = '4 GB'
  align_time       = '2h'

  bam_index_cpus   = 1
  bam_index_memory = '1 GB'
  bam_index_time   = '1h'

  flagstat_cpus    = 1
  flagstat_memory  = '1 GB'
  flagstat_time    = '1h'
}

workDir = params.work_dir

process {
  errorStrategy = 'retry'
  maxRetries    = 5
  cache         = 'lenient'
}

executor {
  queueSize = params.queue_size
}

trace {
  enabled   = true
  file      = params.trace_file
  overwrite = true
  fields    = 'task_id,hash,native_id,process,tag,name,status,exit,cpus,time,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,workdir'
}

report {
  enabled   = true
  file      = "${params.outdir}/pipeline_info/execution_report.html"
  overwrite = true
}

timeline {
  enabled   = true
  file      = "${params.outdir}/pipeline_info/execution_timeline.html"
  overwrite = true
}

dag {
  enabled   = true
  file      = "${params.outdir}/pipeline_info/flowchart.dot"
  overwrite = true
}

profiles {
  local {
    process.executor = 'local'
  }

  slurm {
    process.executor = 'slurm'
    process.queue    = 'compute'
  }
}
